<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
     <body id="container">
    <div id = "container">
      <div id= "form">
      <p>Please enter your name to start the game!</p>
          <form action="" method="post">
              <input type="text" name="name"/>
              <input type="submit" name="Submit"/>
            </form>
      </div>
      </div>

  </body>
</html>
